{% extends "layout.html" %}

{% block body %}

{% if session.username %}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="active"> Edit Appointment </h2>
        <form action="/update_appointment/{{appointment.0}}" method="post">
            <input type="text" id="login" autocomplete="off" autofocus name="owner" value="{{appointment.1}}" placeholder="Owner" required="required" />
            <input type="text" id="login" autocomplete="off" autofocus name="petname" value="{{appointment.2}}" placeholder="Pet Name" required="required" />
            <input type="text" id="login" autocomplete="off" autofocus name="description" value="{{appointment.3}}" placeholder="Description" required="required" />
            <input type="date" id="login" autocomplete="off" autofocus name="ap_date" value="{{appointment.4}}" placeholder="Appointment Date" required="required" />
            <input type="submit" class="fadeIn fourth" value="Update">
        </form>
    </div>
</div>
{% else %}
	You are not logged in. <a href="/login">Log in</a>.
{% endif %}

{% endblock %}