{% extends "layout.html" %}

{% block body %}

{% if session.username %}
<div class="bodyx">
	<h1 class="menu-item"><a href="/logout">Welcome {{ session.username }}  |  log out</a></h1>
<p>TABLE OF REGISTERED PET OWNERS</p>
<a href="/add_owner"><input type="submit" class="fadeIn fourth" value="Add Owner"></a>
<div class="container">
	<p>Select Number Of Rows</h2>
		<div class="form-group">
			<select class  ="form-control" name="state" id="maxRows">
				<option value="5000">Show ALL Rows</option>
				<option value="5">5</option>
				<option value="10">10</option>
				<option value="15">15</option>
				<option value="20">20</option>
				<option value="50">50</option>
				<option value="70">70</option>
				<option value="100">100</option>
			</select>
		</div>
	<table class="table" id= "table-id">
		<thead>
          	<tr>
            	<th scope="col">Name</th>
            	<th scope="col">Last Name</th>
            	<th scope="col">Address</th>
            	<th scope="col">Email</th>
            	<th scope="col">Date</th>
            	<th scope="col">Action</th>
          	</tr>
    	</thead>
    	<tbody>
		{% for data in owner %}
		<tr>
        	<th scope="row">{{data.1}}</th>
        	<td>{{data.2}}</td>
        	<td>{{data.3}}</td>
        	<td>{{data.4}}</td>
        	<td>{{data.5}}</td>
        	<td width="130">
            	<a href="/edit_owner/{{data.0}}">EDIT</a>
				<a href="/delete_owner/{{data.0}}">DELETE</a>
        	</td>
    	</tr>
    	{% endfor %}
    	</tbody>
	</table>
	<div class='pagination-container' >
			<nav>
				<ul class="pagination">
        			<li data-page="prev" >
			    		<span> < <span class="sr-only">(current)</span></span>
					</li>
        			<li data-page="next" id="prev">
						<span> > <span class="sr-only">(current)</span></span>
					</li>
				</ul>
			</nav>
	</div>
</div>
</div>
{% else %}
	You are not logged in. <a href="/login">Log in</a>.
{% endif %}

{% endblock %}